@using Microsoft.Data.SqlClient;
@using Microsoft.Identity.Client;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using System.Data.SqlClient;
@using Samurai.Models;
@using Samurai.Repositories;
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@inject Armortype armortype
@inject NavigationManager NavManager

@page "/¨ArmorType"

<PageTitle>ArmorType</PageTitle>

<h1>Armor Type</h1>

<table>

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Armortype</td>
            <td>WarriorId</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var armortype in ArmortypeList)
        {
            <tr>
                <td>@armortype.Id</td>
                <td>@armortype.Name</td>
                <td>@armortype.Armortype</td>
                <td>@armortype.WarriorId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Armortype> armortypeList = new List<Armortype>();
    protected override void OnInitialized()
    {
        armortypeList = Armortype.getAllArmortype();
    }

}