@using Microsoft.Data.SqlClient;
@using Microsoft.Identity.Client;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using System.Data.SqlClient;
@using Samurai.Models;
@using Samurai.Repositories;
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@inject Horses horse
@inject NavigationManager NavManager

@page "/¨Horses"

<PageTitle>Horses</PageTitle>

<h1>Horses</h1>

<table>

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Armortype</td>
            <td>WarriorId</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var horse in HorsesList)
        {
            <tr>
                <td>@horse.Id</td>
                <td>@horse.Name</td>
                <td>@horse.Armortype</td>
                <td>@horse.WarriorId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Horses> horseList = new List<Horses>();
    protected override void OnInitialized()
    {
        horseList = Horses.getAllHorses();
    }
    
}