
@using Microsoft.Data.SqlClient;
@using Microsoft.Identity.Client;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using System.Data.SqlClient;
@using Samurai.Models;
@using Samurai.Repositories;
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@inject Warrior Warrior
@inject NavigationManager NavManager

@page "/Warriors"

<PageTitle>Warriors</PageTitle>

<h1>Warriors</h1>

<table>
    
    <thead><tr>
        <td>Id</td>
        <td>Name</td>
        <td>Armortype</td>
        <td>HorseId</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var warrior in warriorList)
        {
            <tr>
                <td>@warrior.Id</td>
                <td>@warrior.Name</td>
                <td>@warrior.Armortype</td>
                <td>@warrior.HorseId</td>
                @*<td>
                    <a href="/testedit/@item.Id">Edit</a> |
                    <a href="/Warriors" @onclick="()=> testDelete(item)">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

@code {
    List<Warrior> warriorList = new List<Warrior>();
    protected override void OnInitialized()
    {
        warriorList = Warrior.getAllWarriors();
    }
    //protected void testDelete(Warrior h)
    //{
    //    Warrior.delete(h.Id);
    //}
}