@page "/Warriors"

<PageTitle>Warriors</PageTitle>

<h1>Warriors</h1>

<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Id</TableHeaderCell>
            <TableHeaderCell>Name</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var Warrior in Warriors)
        {
            <TableRow>
                <TableCell>@IWarrior.Id</TableCell>
                <TableCell>@IWarrior.Name</TableCell>
                <Tablecell>@IWarrior.ArmorType</Tablecell>
                <Tablecell>@IWarrior.HorseId</Tablecell>
            </TableRow>
        }
    </TableBody>
</Table>

@code {
    private IEnumerable<Warrior> warriors;

    protected override async Task OnInitializedAsync()
    {
        warriors = await GetWarriors();
    }

    private Task<IEnumerable<Warrior>> GetWarriors()
    {
        // Code to retrieve Warriors from database
    }
}